<%= form_for [:admin, @page] do |f| %>
  <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label :content %>
      <%= f.cktext_area :content, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>
  <div>
    <%= f.submit class:"btn btn-default" %>
  </div>
<% end %>
</div>
