<h1>Admin::Posts#show</h1>
<p>
    <b>Title:
    </b>
    <%= @post.title %></p>
<br>
<p>
    <b>Content:
    </b><%= raw @post.content %></p>
<br>
<p>
  <%= image_tag @post.image.url %>
</p>
<p>
    <b>Publish:</b>
    <%= status_convertor(@post.publish) %></p>
<br>
<p><b>User: </b><%= @post.moderator.fullname %></p>
<p><b>Created at: </b><%= time_ago(@post.created_at)  %></p>
<% @post.comments.each do |comment| %>
<h4><%= comment.visitor.fullname %></h4>
<div class="container"><%= comment.message %></div>
<% end %>
