<div class="row top-nav"></div>
<div class="row header">
    <div class="cover-shadow">
        <h1><%= Setting.site_name %></h1>
    </div>
</div>
<div class="container container-box">
    <div class="row article-container">
        <div class="col-md-8">
            <div class="container-show-post">
                <p>
                    <h1><%= @post.title %></h1>
                    <h5>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        author published at
                        <%= time_ago @post.created_at %></h5>
                    <br>
                    <div class="img-post img-responsive">
                        <center>

                            <%= image_tag @post.image %>
                        </center>
                    </div>
                </p>
                <p>
                    <%=  raw @post.content %>
                </p>
                  <i class="fa fa-tags" aria-hidden="true"></i>
                <% if Setting.tag_visibility %>
                  <%@post.tags.each do |tag|  %>
                 <%= link_to tag.name, posts_path(tag: tag.name) %>
                  <% end %>
                <% end %>
                <br>
                <br>
                <hr>
                <section class="comments">
                    <% @post.comments.approved.each.with_index(1) do |comment, index| %>
                    <article class="comment">
                        <a class="comment-img" href="#non">
                          <%= image_tag @post.image_url(:thumb) %>
                        </a>
                        <div class="comment-body">
                            <div class="text">
                                <%= comment.message %>
                            </div>
                            <p class="attribution">by
                                <%= comment.visitor.fullname %>
                                at
                                <%= time_ago comment.created_at  %>
                            <b><%= double_digit(index) %> </b></p>
                        </div>
                    </article>
                    <% end %>
                </section>​
              <br>
                  <h3>Make Me Happy :)</h3>
                <br>

                <%= form_for @visitor_comment, url: comments_url do |f| %>
                <div class="form-inline">
                    <div class="form-group">
                        <%= f.label :fullname %>
                        <%= f.text_field :fullname, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :email %>
                        <%= f.text_field :email, class: "form-control"%>
                    </div>
                </div>
                <%= f.fields_for :comments do |c| %>
                <br>
                <div class="form-group">
                    <%= c.label :message %><br>
                    <%= c.text_area :message, class:"form-control", rows: 8,col: 10  %>
                </div>
                <%= c.hidden_field :post_id, value: @post.id %>
                <% end %>
                <p><%= f.submit "Post Comment",class:"btn btn-default" %></p>
                <% end %>
            </div>
        </div>
        <div class="col-md-4 pull-right">
            <div class="row header-sidebar">
                About
            </div>
            <div class="row">
              <center>
              <%= image_tag('bio-pic.jpg', size: "169x300")%>
            </center>
                <h4>Full Stack Web Developer </h4><p class="about-bio"> and thirsty to learn more programming.I love solving problems in elegant ways. Experienced working with Ruby on Rails, Javascript, HTML5, CSS, Node.js, AJAX, and jQuery
                  Please feel free to contact me at
                  <a href="mailto:akbar.alizadeh5@gmail.com?Subject=Hello from Website"target="_top">Send Mail</a>
                  <br><a href="http://ali-alizada.com">http://ali-alizada.com</a>
                  <br>
                  <a href="https://www.linkedin.com/in/alializada/">linkedin</a>
                </p>
            </div>
            <div class="row header-sidebar">
                Recent Post
            </div>
            <div class="row">

                <div class="sidebar-recent">
                    <% @posts2.each do |post| %>
                    <div class="side-bar-space">
                            <%= image_tag(post.image_url(:thumb).to_s) if post.image? %>
                            <span><%= truncate(post.title, length:40, seprator: " ") %></span>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
